<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Paramètres</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true">
      <ion-label>Télécharger un fichier Excel</ion-label>
    </ion-item>

    <ion-item detail="true">
      <ion-label>Ajouter un nouveau questionnaire</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
