ion-content {
  --background: var(--ion-background-gradient);

  ion-card {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    ion-item {
      border-radius: 10px;
    }

    ion-button.play {
      margin-top: 2vh;
      float: inline-end;
      color: white;
    }
  }
}
