<ion-content [fullscreen]="true">
  <ion-header slot="fixed" class="ion-no-border">
    <ion-toolbar>
      <ion-title>Paramètre Quiz</ion-title>
      <ion-buttons
        slot="end"
        [routerLink]="['/settings']"
        routerLinkActive="router-link-active"
      >
        <ion-button color="dark">
          <ion-icon slot="start" name="cog"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding">
    <ion-card-title>Allons-y</ion-card-title>
    <ion-card-subtitle>temps pour le quiz</ion-card-subtitle>
    <ion-card-content>
      <form [formGroup]="form()!">
        @let erro_message = form()?.get('question_count')!.errors?.['maxLimit'];
        <ion-item lines="none" color="light">
          <ion-input
            type="number"
            placeholder="no. de question"
            formControlName="question_count"
            [errorText]="erro_message ||'No. de question est requis'"
          >
            <ion-text slot="end">
              sur {{quizSetting().questionLimit}}
            </ion-text>
          </ion-input>
        </ion-item>
        <ion-item lines="none" color="light" class="ion-margin-top">
          <ion-select
            label="Categorie"
            labelPlacement="fixed"
            formControlName="category_id"
            interface="popover"
            placeholder="Choisir la categorie"
          >
            @for (category of categories(); track $index) {
            <ion-select-option [value]="category.id"
              >{{ category.name }}</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
        <div
          *ngIf="form()?.get('category_id')?.invalid && form()?.get('category_id')?.touched"
        >
          <ion-text color="danger" class="erroMessage"
            >* Catégorie est requise</ion-text
          >
        </div>
        <ion-item lines="none" color="light" class="ion-margin-top">
          <ion-label>Duree (HH:mm)</ion-label>
          <ion-datetime-button
            datetime="datetime"
            slot="end"
          ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                formControlName="duration"
                presentation="time"
                hourCycle="h23"
                [showDefaultButtons]="true"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        @let duration = form()!.get('duration')!; @if (duration.invalid &&
        duration.touched) {

        <div>
          <ion-text color="danger" class="erroMessage">
            {{ duration.errors?.['invalidTime'] || 'Duree est requise' }}
          </ion-text>

          >
        </div>
        } @if (isLoading()) {
        <ion-button>
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>
        }@else {
        <ion-button (click)="onClick()" class="play">
          Jouer
          <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
        </ion-button>
        }
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
